* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 1.3em;
}

footer,
header {
  border: 2px solid black;
  padding: 3px;
  background-color: #fff;
}

#container {
  min-height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}

header {
  flex-basis: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.main-content {
  flex: 1 0 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.item {
  width: 350px;
  height: 250px;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  flex-basis: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
